.footer-button-center,
.footer-button-left,
.footer-button-right {
    position: fixed;
    margin: 0;
    top: auto;
    bottom: 5em;
    z-index: 5;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
}
.footer-button-center{
    left:43%;
}
.count-second {
    right: 3em !important;
}

.count-third {
    right: 5em !important;
}

#group_dispatch,#dispatch_address{
	padding-left: 1em;
}
#total_price{
	font-size: 1.5em;
	font-family: ·L³n¥¿¶ÂÅé;
	font-weight: bolder;
    padding-top: 1em;
    padding-left: 75%;
}
.delete-confirm{
    text-align: center;
}
#dispatch_address{
    width: 25em;
}

<!-- logo RWD-->
@media (max-width: 479px) {
	$("#teaLogoImg").css({
		'width': 80%,
		'height': 80%
	});
}